<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All artists</title>
</head>
<body>
<!--Iterate over list provided in view-->
   <form action="/artists">
       <input type="submit" value="Browse all Artists" />
   </form>
   <form action="/venues">
       <input type="submit" value="Browse all Venues" />
   </form>
   <form action="/performances">
       <input type="submit" value="Browse all Performances" />
   </form>
   <form action="/tracks">
       <input type="submit" value="Browse all Tracks" />
   </form>

</body>
</html>