<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>All artists</title>
    <script type="text/javascript"  src="{{ url_for('static', filename='browse.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
</head>
<body>


<h1>
{% print("Performance page for: "+ perf_name) %}
</h1>
<input type="text" id="myInput" onkeyup="filterResults()" placeholder="Search setlist.." title="Type in a song name">
<ul id="myUL">
<!--Iterate over list provided in view-->
   {% for track_title in track_titles["results"]["bindings"] %}
       <li><a href="#">{{ track_title["tracktitle"]["value"] }}</a></li>
  {% endfor %}
</ul>

</body>
</html>