<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All performances</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
    <script type="text/javascript"  src="{{ url_for('static', filename='browse.js') }}"></script>
</head>
<body>
<input type="text" id="myInput" onkeyup="filterResults()" placeholder="Search for names.." title="Type in a name">
{% print("Total no. of performances found in etree: "+ count) %}
<ul id="myUL">
<!--Iterate over list provided in view-->
   {% for result in results["results"]["bindings"] %}
       <li><a href="#">{{ result["name"]["value"] }}</a></li>
  {% endfor %}
</ul>
</body>

</html>