{% extends "base.html" %}
{% block body %}
<h1>
{% print("Artist page for: "+ artist_name) %}
{% if artist_image is not none %}
    <img src = "{{artist_image}}" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;" >

 {% endif %}
</h1>
<h3>

    {% print("MusicBrainz tags: ")%} </h3>

    {% for mb_tag in mb_tags["results"]["bindings"] %}
        {% print( mb_tag["mbtags"]["value"])+" " %}
    {% endfor %}



<table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Performances</th>
    </tr>
    </thead>
    <tbody>


    {% for performance_title in performance_titles["results"]["bindings"] %}
    <tr>
        <th scope="row">{{loop.index}}</th>
       <td><a href="/performance/?title={{ encoded_perfs[loop.index-1]}}">{{ performance_title["perftitle"]["value"] }}</a></td>
    </tr>
  {% endfor %}
    </tbody>

{% endblock %}