{% extends "base.html" %}
{% block body %}
{% print("Performance page for: "+ perf_name) %}<br>

<h3>
    <a href="/artists/{{ encoded_a }}"> {% print("Artist: "+ artist_name) %}</a> <br>
    <a href="/venue/{{ encoded_v }}">{% print("Venue: "+ venue_name) %}</a>
    {% print("date: "+ perf_date) %} <br>
    {% print("description: "+ perf_description) %}
</h3>

<table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Setlist</th>
        <th scope="col">Track audio</th>
        <th scope="col">Download link</th>
    </tr>
    </thead>
    <tbody>

   {% for track_title in track_titles %}
        <tr>
        <th scope="row">{{loop.index}}</th>
            <td><a href="/tracks/{{ encoded_ts[loop.index-1] }}">{{ track_title }}</a></td>

            <td><audio controls name="media">
               <source src="{{ audio[loop.index-1][1] }}" type="audio/mpeg">
            </audio>
            </td>
            <td><a href="{{audio[loop.index-1][0]}}">{{audio[loop.index-1][0]}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}