

{% extends "base.html" %}
{% block body %}

<h1>
{% print("Venue page for: "+ venue_name) %} <br>
<h2>
    Location: <br>
    {% for loc in location["results"]["bindings"] %}
        {% print( loc["locname"]["value"]) %} <br>
    {% endfor %}
</h2>
</h1>

<table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Performance</th>

    </tr>
    </thead>
    <tbody>


    {% for perf in perf_names %}
        <tr>
        <th scope="row">{{loop.index}}</th>
            <td><a href="/performance/?title={{ encoded_perfs[loop.index-1]}}">{{ perf }} </a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}